html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #2b2b2b);
}
.grosbloc {
  display: inline-flex;
}
.grosbloc .icone {
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.grosbloc .icone:hover .effect {
  opacity: 1;

  top: -70px;
}

.grosbloc .icone .effect {
  position: absolute;
  background: #fff;
  color: white;
  opacity: 0;
  padding: 20px 15px;
  border-radius: 10px !important;
}
.grosbloc .icone span i {
  line-height: 60px;
}

.grosbloc .icone span {
  position: relative;
  height: 60px;
  width: 60px;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  z-index: 2;
}

.grosbloc .icone .effect:before {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  content: "";
  height: 15px;
  width: 15px;
}

.grosbloc .fb:hover span,
.grosbloc .fb:hover .effect,
.grosbloc .fb:hover .effect:before {
  background: #3b5999;
}
.grosbloc .YT:hover span,
.grosbloc .YT:hover .effect,
.grosbloc .YT:hover .effect:before {
  background: #ef1000;
}
.grosbloc .twit:hover span,
.grosbloc .twit:hover .effect,
.grosbloc .twit:hover .effect:before {
  background: #46c1f6;
}
.grosbloc .github:hover span,
.grosbloc .github:hover .effect,
.grosbloc .github:hover .effect:before {
  background: rgb(84, 83, 83);
}
.grosbloc .insta:hover span,
.grosbloc .insta:hover .effect,
.grosbloc .insta:hover .effect:before {
  background: #fc0352;
}

.grosbloc .icone:hover span,
.grosbloc .icone:hover .tooltip {
  color: #d7e1ec;
}

.grosbloc .icon:hover span {
  color: rgb(68, 23, 23);
}
